.footer {
    background: #fb1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    text-align: center;
    color: #764701;
}

.footer p{
    margin-top: 1rem;
}

.inu{
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}